<%= form_for @user do |f| %>
  <%= render "layouts/shared/error_message", object: f.object %>
  <div class="form-group row">
    <%= f.label :email, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :fullname, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :fullname, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :role, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.select(:role, User.role_types_i18n, {} ,{class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :birthday, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.date_select :birthday, start_year: Settings.start_year,
        class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :gender, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.collection_radio_buttons :gender, User.gender_types_i18n,
        :second, :first, {checked: User.gender_types[:male]} %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :avatar, class: "col-sm-4 form-control-label" %>
    <div class="col-sm-8">
      <%= f.file_field :avatar %>
      <%= image_tag f.object.avatar.url, alt: f.object.fullname if f.object.avatar.url %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
<% end %>