<tr>
  <th scope="row"><%= list_user.id %></th>
  <td>
    <%= link_to list_user.fullname, "#", data: { toggle: "modal", target: "#myModal#{list_user.id}"} %>
  </td>
  <td><%= list_user.email %></td>
  <td>
    <% if list_user.role == 1 %>
    <span class="label label-danger">Supervisor</span>
    <% else %>
    <span class="label label-default">Member</span>
    <% end %>
  </td>
</tr>
<div class="modal fade" id="myModal<%= list_user.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-<%= list_user.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Profile</h4>
      </div>
      <div class="modal-body">
        <center>
          <%= image_tag list_user.avatar, class: "img-circle profile_image" %>
          <h3 class="media-heading"><%= list_user.fullname %> <small><%= role_name list_user %></small></h3>
        </center>
        <center>
          <h3>Infomation</h3>
          <span><p>Gender: <%= list_user.gender %></p></span>
          <span><p>Date of birth: <%= list_user.birthday.strftime("%d/%m/%Y") %></p></span>
          <span><p>Created at: <%= list_user.created_at.strftime("%d/%m/%Y") %></p></span>
        </center>
      </div>
      <div class="modal-footer">
        <center>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>
